<h1><%= t(Book.human_attribute_name(:books))%></h1>

<%= render 'form', book: @book %>

<%= link_to t(Book.human_attribute_name(:save)), @book %> |
<%= link_to t(Book.human_attribute_name(:back)), books_path %>
